# Ignore virtual environment folder
venv/

# Ignore env file
.env

# Ignore common python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE/editor settings
.vscode/
.idea/
*.swp

#Ignore the csv files
raw_reddit_posts.csv
cleaned_reddit_posts.csvs